
.conoo{
    background-color: #f4f2ee;
    padding-top:12vh ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dsda{
    width: 60vw;
}
.dads{
    width: 45vw;
}
@media(max-width:1000px){
    .dsda{
        width: 80vw;
    }
    .dads{
        width: 70vw;
    }
}
@media(max-width:600px){
    .dsda{
        width: 90vw;
    }
    .dads{
        width: 94vw;
    }
}
@media(max-width:393px){
    .dsda{
        width: 98vw;
    }
    .dads{
        width: 98vw;
    }
}