/* Styles for the overlay */
.LikesModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); /* Dark semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Styles for the modal content */
.LikesModal {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  max-height: 80%;
  overflow-y: auto; /* Allow vertical scrolling if content overflows */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.LikesModal h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.LikesModal button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #f44336;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.LikesModal button:hover {
  background: #d32f2f;
}

.LikesModal ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.LikesModal li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.LikesModal li img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.LikesModal li span {
  font-size: 18px;
  color: #333;
}
