.prof-co{
    margin:3vh 10px;
    margin-left: 6.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: #fdfff5;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    position: fixed;
    padding: 10px;
    /* width: 15%; */
}
.pro-photo img{
/* background-color: violet; */
border-radius: 50%;
margin-top: 15px;
width: 80px;
height: 80px;
}
.pro-name{
/* background-color: blue; */
display: flex;
flex-direction: column;
align-items: center;
margin:0px 7px ;
}
.propro{
    margin-top: 8px;
    font-weight: 600;
    color: #666;
}
.visitprof{
    margin-bottom: 20px;
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    padding:6px;
    border-radius: 3px;
}
.cc{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #666;
}
.abc{
    width: 23px;
    height: 23px;
}
.viv{
 margin-left: 5px;
 font-weight: 600;
}