.nav-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fdfff5;
    position:fixed;
    width: 100vw;
    /* border-bottom: 1px solid; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    height: 12vh;
    overflow: hidden;
    z-index: 10000;
}
.nav-logo{
    /* overflow: hidden; */
    margin-left: 5vw;
}
.nav-logo img{
    width:55px;
    height: 55px;
    /* background-color: black; */
}
.nav-icons{
    margin-right: 25vw;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style:none;
    /* background-color: red; */
    margin-top: 13px;
}
.nav-li{
    margin: 15px;
}
.ss{
    /* background-color: black; */
    text-decoration: none;
    color: #777;
    font-size: 13px;
    font-weight: 600;
}
.nav-log{
    border: none;
    background-color: #fffaf5;
    color: #777;
    font-size: 13px;
    font-weight: 600;
}
.navico{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-pho{
    color: #666;
    width: 24px;
    height: 24px;
}