.dash-cont{
    min-height: 100vh;
    background-color: #f4f2ee;
    padding-top: 12vh;
    display: flex;
    align-items: flex-start;
}
.dash-prof{
    /* background-color: white; */
    flex:0.24;
    /* flex-direction: column; */

}
.post-cont{
    flex:0.44; 
}
.choose-depar{
    /* background-color: green; */
    flex: 0.32;
}

@media (max-width: 1443px) {
    .dash-prof{
        display: none;
    }
    .post-cont{
        flex: 0.55;
    }
    .dash-cont{
        justify-content: center;
    }
}
@media (max-width: 1060px) {
    .dash-cont{
        flex-direction: column;
        align-items: center;
    }
    .post-cont{
        max-width: 70vw;
        margin-top: 100px;
    }
    .choose-depar {
        order: -1;
        align-self: flex-start;
    }

}

@media (max-width:642px){
    .post-cont{
        max-width: 93vw;
        margin-top: 100px;
    }
}
@media(max-width:508px){
    .post-cont{
        margin-top: 130px;
    }
}